<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.novelsite.mapper.AuthorMapper">

    <resultMap id="AuthorResultMap" type="Author">
        <id column="id" property="id"/>
        <result column="username" property="username"/>
        <result column="password" property="password"/>
        <result column="name" property="name"/>
        <result column="introduction" property="introduction"/>
        <result column="level" property="level"/>
        <result column="is_transfer" property="isTransfer"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
    </resultMap>

    <select id="findById" resultMap="AuthorResultMap">
        SELECT * FROM author WHERE id = #{id}
    </select>

    <select id="findByUsername" resultMap="AuthorResultMap">
        SELECT * FROM author WHERE username = #{username}
    </select>

    <select id="findAll" resultMap="AuthorResultMap">
        SELECT * FROM author ORDER BY create_time DESC
    </select>

    <insert id="insert">
        <selectKey keyProperty="id" resultType="long" order="AFTER">
            SELECT last_insert_rowid()
        </selectKey>
        INSERT INTO author (username, password, name, introduction, level, is_transfer, create_time, update_time)
        VALUES (#{username}, #{password}, #{name}, #{introduction}, #{level}, #{isTransfer}, datetime('now'), datetime('now'))
    </insert>

    <update id="update">
        UPDATE author SET
            name = #{name},
            introduction = #{introduction},
            level = #{level},
            is_transfer = #{isTransfer},
            update_time = datetime('now')
        WHERE id = #{id}
    </update>

    <delete id="deleteById">
        DELETE FROM author WHERE id = #{id}
    </delete>

</mapper>
